# -----------------------------------------------------------------------------
#- Binary counter example for the iCE40-HX8K board
#- Constraint file (.pcf)
#- By Jason Kaufmann
#- October 2022
#- GPL license
# -----------------------------------------------------------------------------
# --  Pinout:
# --  Guide:

# ------------ User Leds ------------------------------------------------------

set_io set D4
set_io reset D5
set_io q D6
set_io qNot D7
